{% extends "app/base.html" %}

{% load static %}

{% block title %}
    {{ sample_type }} - PO.fun
{% endblock title %}

{% block extra-head %}
    <link rel="stylesheet" href="{% static "sample/samples.css" %}" />
{% endblock extra-head %}

{% block extra-navbar-end %}
    <form id="search-form" method="get">
        <input type="text" name="search" class="search-input" />
        <button type="submit" class="search-submit">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
{% endblock extra-navbar-end %}

{% block content %}
    {% if page_obj|length_is:"0" %}
        <p>No samples found. Perhaps you should upload some? c:</p>
    {% else %}
        <div class="sample-grid" class="pure-g">
            {% for sample in page_obj %}
                <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3">
                    <div class="sample-card">
                        <a class="sample-name" href={% url "sample:detail" sample.id %}>{{ sample.name }}</a>
                        <a class="sample-author" href={% url "user:detail" sample.author.pk %}>{{ sample.author }}</a>
                        <p class="sample-description">{{ sample.description }}</p>
                        <p class="sample-points">{{ sample.points }} points</p>
                        {% if sample.demo %}
                            <p class="success">demo:</p>
                            <audio controls>
                                <source src="{{ sample.demo.url }}" />
                            </audio>
                        {% else %}
                            <p class="error">&gt there's no demo for this sample.</p>
                        {% endif %}
                        <p class="success">sample/data transfer:</p>
                        {% include "sample/components/sample-player.html" with sample=sample %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            <span class="step-links">
                <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="page-link">« first</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last »</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock content %}
