#content {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

#forgot-password {
  font-size: smaller;

  color: inherit;
  text-decoration: none;
  float: right;
}

#forgot-password:hover {
  text-decoration: underline;
}

.error {
  color: red;
}

#button-wrapper {
  padding-top: 15px;

  display: flex;
  justify-content: center;
}
