{% extends "app/base.html" %}

{% load static %}

{% block title %}Login - PO.fun{% endblock title %}

{% block extra-head %}

    <link rel="stylesheet" href="{% static 'app/form_page.css' %}" />

{% endblock extra-head %}

{% block content %}
    <h1>login</h1>

    <form method="post" action="{% url "app:login" %}" class="pure-form pure-form-stacked">
        {% csrf_token %}

        <label for="username">username</label>
        {{ form.username }}


        <label for="password">password</label>
        {{ form.password }}
        <a id="forgot-password" href="#forgot-password">forgot your password?</a>


        <input type="hidden" name="next" value="{% url 'app:index' %}" />


        {% if form.errors %}
            <p class="error">Invalid username or password.</p>
        {% endif %}

        <div id="button-wrapper">
            <button type="submit" class="pure-button pure-button-primary">submit</button>
        </div>
    </form>

{% endblock content %}
