{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css" />

        <link rel="stylesheet" href="{% static "app/base.css" %}" />

        {% block extra-head %}{% endblock extra-head %}
    </head>

    <body>
        <div class="navbar">
            <div class="navbar-links-start">
                <a href={% url "app:index" %}>po.fun</a>
                <a href=#drums>drums</a>
                <a href=#melodic>melodic</a>
                <a href=#packs>packs</a>
            </div>
            <div class="navbar-links-end">
                <a href=#register>register</a>
                <a href="{% url "app:login" %}">login</a>
            </div>
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>
