.sample-card {
  padding: 16px;
  margin-right: 50px;
  margin-bottom: 35px;

  border: 2px solid white;
  border-radius: 14px;

  height: 12em;
}

.sample-name {
  font-size: xx-large;
  margin: 0;
}

.sample-author {
  margin: 0;
  margin-top: 4px;
}

.page-link {
  color: white;
  text-decoration: underline;
}
