.content {
    padding: 2em;
}

.sample-card {
    padding: 16px;
    margin-right: 50px;
    margin-bottom: 35px;

    border: 2px solid white;
    border-radius: 14px;
}

.sample-card a:link {
    color: white;
}

.sample-card a:visited {
    color: white;
}

.sample-name {
    font-size: xx-large;
    margin: 0;
}

.sample-author {
    margin: 0;
    margin-top: 4px;
}

.sample-points {
    font-style: italic;
}

.page-link {
    color: white;
    text-decoration: underline;
}

.success {
    color: var(--success-text-color);
}

.error {
    color: var(--danger-text-color);
}
