:root {
    --main-bg-color: #141927;
    --secondary-bg-color: #dfdfdf;

    --main-text-color: white;
    --secondary-text-color: black;

    --danger-text-color: #ffaf9c;
    --success-text-color: #9ecf5f;
}

h1 {
    margin: 0;
}

@font-face {
    font-family: "Office Code Pro";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/OfficeCodePro/OfficeCodePro-Regular.otf");
}

@font-face {
    font-family: "Office Code Pro";
    font-style: normal;
    font-weight: bold;
    src: url("./fonts/OfficeCodePro/OfficeCodePro-Bold.otf");
}

@font-face {
    font-family: "Office Code Pro";
    font-style: normal;
    font-weight: lighter;
    src: url("./fonts/OfficeCodePro/OfficeCodePro-Light.otf");
}

@font-face {
    font-family: "Office Code Pro";
    font-style: normal;
    font-size: medium;
    src: url("./fonts/OfficeCodePro/OfficeCodePro-Medium.otf");
}

@font-face {
    font-family: "Office Code Pro";
    font-style: italic;
    src: url("./fonts/OfficeCodePro/OfficeCodePro-RegularItalic.otf");
}

@font-face {
    font-family: "Office Code Pro";
    font-style: italic;
    font-weight: bold;
    src: url("./fonts/OfficeCodePro/OfficeCodePro-BoldItalic.otf");
}

@font-face {
    font-family: "Office Code Pro";
    font-style: italic;
    font-weight: lighter;
    src: url("./fonts/OfficeCodePro/OfficeCodePro-LightItalic.otf");
}

@font-face {
    font-family: "Office Code Pro";
    font-style: italic;
    font-size: medium;
    src: url("./fonts/OfficeCodePro/OfficeCodePro-MediumItalic.otf");
}

.navbar {
    background-color: var(--secondary-bg-color);
    overflow: hidden;

    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: var(--secondary-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-links-start {
    float: left;
}

.navbar-links-end {
    float: right;
}

.navbar a:hover {
    text-decoration: underline;
}

#content {
    padding: 30px;
}

body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

body * {
    font-family: "Office Code Pro";
}
